<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ES_Mapper">

	<insert id="insertHistory" parameterType="hashMap">
		insert into api_history (seqno, login_id,
		files, req_date) values(#{seqno},#{loginId}, #{fileList}, #{nowDate})
	</insert>

</mapper>